// Código gracias a Alanmontgomery de GitHub
// https://github.com/alanmontgomery/ionic-instagram-clone/blob/main/src/components/Feed.module.scss
.contenedorRutas{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.contenedorRuta{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

// prueba